# OTEL Collector - SigNoz Stack
# Use with: docker-compose -f docker-compose.observability-signoz.yml

receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:
    send_batch_size: 1000
    timeout: 10s
  resourcedetection:
    detectors: [env, system]
    timeout: 2s
    system:
      hostname_sources: [os]

exporters:
  clickhousetraces:
    datasource: tcp://signoz-clickhouse:9000/signoz_traces
    docker_multi_node_cluster: false
  clickhousemetricswrite:
    endpoint: tcp://signoz-clickhouse:9000/signoz_metrics
    resource_to_telemetry_conversion:
      enabled: true
  clickhouselogsexporter:
    dsn: tcp://signoz-clickhouse:9000/signoz_logs
    docker_multi_node_cluster: false

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhousetraces]
    metrics:
      receivers: [otlp]
      processors: [batch, resourcedetection]
      exporters: [clickhousemetricswrite]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouselogsexporter]
  telemetry:
    metrics:
      address: 0.0.0.0:8888
