receivers:
  otlp:
    protocols:
      grpc:
      http:
  # Prometheus receiver removed as it's not used and 'endpoint' is an invalid key for it.

processors:
  batch:

exporters:
  prometheus:
    endpoint: "0.0.0.0:9091" # Prometheus exporter will expose metrics on this port
  loki:
    endpoint: "http://loki-server:3100/loki/api/v1/push"
  otlp/tempo:
    endpoint: "tempo-server:4317"
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [loki]
  telemetry:
    metrics:
      address: 0.0.0.0:8888 # Internal telemetry metrics will be exposed on this port
